.button-style {
    -fx-pref-width: 70;
    -fx-pref-height: 20;
}
.large-button-style {
    -fx-pref-width: 120;
    -fx-pref-height: 20;
}
.pane-style{
	-fx-alignment:center;
	-fx-vgap:5;
	-fx-hgap:5;
}
.textfield-style{
	-fx-pref-width: 200;
    -fx-pref-height: 20;
}
.listview-style{
	-fx-pref-width: 240;
    -fx-pref-height: 600;
}
.label-style{
    -fx-pref-width: 120;
    -fx-pref-height: 20;
    -fx-alignment: center;
}